- case @type
- when :emphasis
  %em{:class=>(attr :role)}=@text
- when :strong
  %strong{:class=>(attr :role)}=@text
- when :monospaced
  %code{:class=>(attr :role)}=@text
- when :superscript
  %sup{:class=>(attr :role)}=@text
- when :subscript
  %sub{:class=>(attr :role)}=@text
- when :double
  =(attr? :role) ? %(<span class="#{attr :role}">&#8220;#{@text}&#8221;</span>) : %(&#8220;#{@text}&#8221;)
- when :single
  =(attr? :role) ? %(<span class="#{attr :role}">&#8216;#{@text}&#8217;</span>) : %(&#8216;#{@text}&#8217;)
- else
  =(attr? :role) ? %(<span class="#{attr :role}">#{@text}</span>) : @text
