- if @level.zero?
  %h1{:id=>@id}=title 
  =content.chomp
- else
  %div{:class=>["sect#{@level}", (attr :role)]}
    - haml_tag "h#{@level + 1}##{@id}", !@special && (attr :numbered) && @level < 4 ? "#{sectnum} #{attr :caption}#{title}" : "#{attr :caption}#{title}"
    - if @level == 1
      .sectionbody
        =content.chomp
    - else
      =content.chomp
