<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="admonitionblock <%= attr 'name' %><%= attr?('role') ? %( #{attr 'role'}) : nil %>">
<table>
<tr>
<td class="icon">
<% if attr? 'icons' %><img src="<%= icon_uri(attr 'name') %>" alt="<%= @caption %>">
<% else %><div class="title"><%= @caption %></div><% end %>
</td>
<td class="content"><%= title? ? %(
<div class="title">#{title}</div>) : nil %>
<%= content.chomp %>
</td>
</tr>
</table>
</div>
