<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="videoblock<%= attr?('style') ? %( #{attr 'style'}) : nil %><%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{attr?('caption') ? attr('caption') : nil}#{@title}</div>) : nil %>
<div class="content">
<video src="<%= media_uri(attr 'target') %>"<%= attr?('width') ? %( width="#{attr 'width'}") : nil %><%= attr?('height') ? %( height="#{attr 'height'}") : nil %><%
if attr? 'poster' %> poster="<%= media_uri(attr :poster) %>"<% end %><%
if attr? 'autoplay-option' %> autoplay<% end %><%
unless attr? 'nocontrols-option' %> controls<% end %><%
if attr? 'loop-option' %> loop<% end %>>
Your browser does not support the video tag.
</video>
</div>
</div>
