<%#encoding:UTF-8%><%
if attr? 'style', 'qanda', false %>
<div<%= @id && %( id="#{@id}") %> class="qlist<%= attr?('style') ? %( #{attr 'style'}) : nil %><%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{title}</div>) : nil %>
<ol><%
items.each do |terms, dd| %>
<li><%
[*terms].each do |dt| %>
<p><em><%= dt.text %></em></p><%
end
unless dd.nil? %><%
if dd.text? %>
<p><%= dd.text %></p><%
end %><%
if dd.blocks? %>
<%= dd.content.chomp %><%
end %><%
end %>
</li><%
end %>
</ol>
</div><%
elsif attr? 'style', 'horizontal', false %>
<div<%= @id && %( id="#{@id}") %> class="hdlist<%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{title}</div>) : nil %>
<table>
<colgroup>
<col<% if attr? 'labelwidth' %> style="width:<%= attr 'labelwidth' %>%;"<% end %>>
<col<% if attr? 'itemwidth' %> style="width:<%= attr 'itemwidth' %>%;"<% end %>>
</colgroup><%
items.each do |terms, dd| %>
<tr>
<td class="hdlist1<% if attr? 'strong-option' %> strong<% end %>"><%
[*terms].each do |dt| %>
<%= dt.text %>
<br><%
end %>
</td>
<td class="hdlist2"><%
unless dd.nil? %><%
if dd.text? %>
<p style="margin-top: 0;"><%= dd.text %></p><%
end %><%
if dd.blocks? %>
<%= dd.content.chomp %><%
end %><%
end %>
</td>
</tr><%
end %>
</table>
</div><%
else %>
<div<%= @id && %( id="#{@id}") %> class="dlist<%= attr?('style') ? %( #{attr 'style'}) : nil %><%= attr?('role') ? %( #{attr 'role'}) : nil %>"><%= title? ? %(
<div class="title">#{title}</div>) : nil %>
<dl><%
items.each do |terms, dd|
[*terms].each do |dt| %>
<dt<%= !(attr? 'style', nil, false) ? ' class="hdlist"' : nil %>>
<%= dt.text %>
</dt><%
end
unless dd.nil? %>
<dd><%
if dd.text? %>
<p><%= dd.text %></p><%
end %><%
if dd.blocks? %>
<%= dd.content.chomp %><%
end %>
</dd><%
end %><%
end %>
</dl>
</div><%
end %>
