<%#encoding:UTF-8%><%= @id && %(<a id="#{@id}"></a>) %><%
style_class = role? ? %( class="#{role}") : nil
case @type
when :emphasis %><%= %(<em#{style_class}>#{@text}</em>) %><%
when :strong %><%= %(<strong#{style_class}>#{@text}</strong>) %><%
when :monospaced %><%= %(<code#{style_class}>#{@text}</code>) %><%
when :superscript %><%= %(<sup#{style_class}>#{@text}</sup>) %><%
when :subscript %><%= %(<sub#{style_class}>#{@text}</sub>) %><%
when :double %><%= style_class ? %(<span#{style_class}>&#8220;#{@text}&#8221;</span>) : %(&#8220;#{@text}&#8221;) %><%
when :single %><%= style_class ? %(<span#{style_class}>&#8216;#{@text}&#8217;</span>) : %(&#8216;#{@text}&#8217;) %><%
else %><%= style_class ? %(<span#{style_class}>#{@text}</span>) : @text %><%
end %>
