<%#encoding:UTF-8%><%
if @level.zero? %><h1<%= @id && %( id="#{@id}") %>><%= title %></h1>
<%= content.chomp %>
<% else %><%
title_html = %(#{@caption}#{title})
title_html = %(<a name="#{@id}" class="anchor" href="##{@id}">#{title_html}</a>) if (attr? 'anchors')
title_html = %(#{sectnum} #{title_html}) if !@special && (attr? 'numbered') && @level < 4
%>

<% if @level == 1 %>
<% if title == 'Foreword' %>
<section class="foreword"<%= @id && %( id="#{@id}") %>>
<%= %(<h#{@level}) %>><%= title %><%= %(</h#{@level}>) %>

<%= content %>
</section>
<% elsif title == 'Preface' %>
<section class="preface"<%= @id && %( id="#{@id}") %>>
<%= %(<h#{@level}) %>><%= title %><%= %(</h#{@level}>) %>

<%= content %>
</section>
<% elsif sectname == 'appendix' %>
<section class="appendix"<%= @id && %( id="#{@id}") %>>
<%= %(<h#{@level}) %>><%= title %><%= %(</h#{@level}>) %>

<%= content %>
</section>
<% else %>
<section class="chapter"<%= @id && %( id="#{@id}") %>>
<%= %(<h#{@level}) %>><%= title %><%= %(</h#{@level}>) %>

<%= content %>
</section>
<% end %><% end %>

<% if @level == 2 %>
<section class="sect1"<%= @id && %( id="#{@id}") %>>
<h1><%= title %></h1>
<%= content %>
</section>
<% end %>

<% if @level == 3 %>
<section class="sect2"<%= @id && %( id="#{@id}") %>>
<h2><%= title %></h2>
<%= content %>
</section>
<% end %>

<% if @level == 4 %>
<section class="sect3"<%= @id && %( id="#{@id}") %>>
<h3><%= title %></h3>
<%= content %>
</section>
<% end %>

<% if @level == 5 %>
<section class="sect4"<%= @id && %( id="#{@id}") %>>
<h4><%= title %></h4>
<%= content %>
</section>
<% end %><% end %>
